body{

  font-family: arial;
}

.artical-container{
  width:900px;
  background-color: #fff;
  padding: 30px;
}

.article-container .article-box{
  padding-bottom:30px;
  width:100%;
}

input{
  size="1000";
  padding:0 20px;
  width:300px;
  height:40px;
  font-size:22px;
}

button{
  width:100px;
  height:44px;
  font-size:22px;
}
